{% extends 'app_mainpage/base.html' %}
{% load cache %}

{% block content %}
{% cache 60 mail_list %}

								<div class="col-main col-12 col-lg-8 pe-lg-4">
									<section class="resume-summary-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-person me-2"></i>Письма</h3>
										<div class="resume-summary-desc">
											
											{% for object in object_list %}
											<div class="card">
												<div class="card-body">
													<h4 class="card-title">{{object.name_of}}</h4>
													<h6 class="card-subtitle mb-2 text-muted">{{object.letter_subject}}</h6>
													
													<p class="card-text">newsletter - {{ object.newsletter }}</p>													
													<p class="card-text">comment - {{ object.comment }}</p>
													<p class="card-text">body_of_the_letter - {{ object.body_of_the_letter }}</p>
													<a href="#" class="card-link">Подробнее</a>
													<a href="{% url 'app_spammy:update_mail' object.pk %}" class="card-link">Редактировать</a>
													<a href="{% url 'app_spammy:delete_mail' object.pk %}" class="card-link">Удалить</a>
												</div>
											</div>
											<br>
											{% empty %}
											Добавьте новые письма, и они появятся здесь.
											{% endfor %}
											<a href="{% url 'app_spammy:create_mail' %}">Добавить письмо</a>
										</div>
									</section><!--//resume-section-->
								<hr>
								
								{% if object_list %}
								<div class="pagination">
									<span class="step-links">
										{% if page_obj.has_previous %}
											<a href="?page=1">&laquo; first</a>
											<a href="?page={{ page_obj.previous_page_number }}">previous</a>
										{% endif %}
										
										<span class="current">
											Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
										</span>
										
										{% if page_obj.has_next %}
											<a href="?page={{ page_obj.next_page_number }}">next</a>
											<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
										{% endif %}
									</span>
								</div>
								{% endif %}
							</div><!--//col-8-->

{% endcache %}
{% endblock %}