{% extends 'app_mainpage/base.html' %}

{% block content %}

								<div class="col-main col-12 col-lg-8 pe-lg-4">
								
								<p>Количество уникальных клиентов для рассылок: {{client.count}} </p>
								<p>Количество рассылок всего: {{maillist.count}} </p>
								<p>Количество активных рассылок: {{maillist_active.count}} </p>


								
								{% for object in item %}
									<section class="resume-summary-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-person me-2"></i>{{object.article_head}}</h3>
										<div class="resume-summary-desc">
											<img width=50% src="/media/{{object.image}}">
											<p>{{object.article_body|truncatechars:60}}</p>
											<p>Статья написана {{object.date_create}}</p>
											<p>{{object.num_of_views}} просмотров</p>
											<p><a href='{% url 'app_blog:blog_detail' object.pk %}'>Подробнее</a></p>


										
										</div>
									</section><!--//resume-section-->
									
									<hr>
								{% endfor %}

								</div><!--//col-8-->

{% endblock %}