{% extends 'app_mainpage/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

								<div class="col-main col-12 col-lg-8 pe-lg-4">
									<section class="resume-summary-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-person me-2"></i>Регистрация</h3>
										<div class="resume-summary-desc" >
										
<form method="post">
          {% csrf_token %}
		  
<p>{{ form.username|as_crispy_field}}</p>
<p>{{ form.email|as_crispy_field}}</p>
<p>{{ form.password1|as_crispy_field}}</p>
<p>{{ form.password2|as_crispy_field}}</p>




          <button type="submit">Enter</button>
</form>									
										</div>
									</section><!--//resume-section-->
									
									<hr>

								</div><!--//col-8-->

{% endblock %}